    .navbar-nav {
        .button {
            display: flex;
            align-items: center;
            margin-right: 18px;
            button {
                @include content($fs-6, $fw-1, $color3);
                align-items: center;
                border-radius: 50px;
                display: flex;
                justify-content: center;
                line-height: 13.5px;
                margin: 6px;
                padding: 14.85px 20.25px;
                text-align: center;
                color: #fff;
                border: 1px solid $color3;
                transition: all 0.5s;
                &:hover {
                    border: 1px solid $color3;
                    background-color: #fff !important;
                    color: $color3;
                    transform: scaleX(1);
                }
            }
        }
    }