.column-img {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
    .bg-card {
        background-color: $color5;
        .container-card {
            .card-body {
                text-align: center;
                p:first-of-type {
                    line-height: 13.5px margin: 0px 0px 7.875px
                }
            }
        }
    }
}