.footer-contact {
    background-color: $color3;
    margin-top: 50px;
    .img-header {
        position: absolute;
        top: 2100px;
        z-index: -1;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
}