    .contact-form {
        display: flex;
        .form-right {
            .form {
                width: 393px;
                height: 504px;
                .title {
                    line-height: 45px;
                    @include content2($fs-12, $fw-3, $color4);
                    margin-bottom: 50px;
                    text-align: center;
                }
                .row-form {
                    display: flex;
                    .name-form {
                        input {
                            border-radius: 50px;
                            width: 157px;
                            box-shadow: #000000 0px 0px 4px 0px;
                            border: 1px solid $color4;
                            padding: 12px 12px 12px 42px;
                        }
                    }
                }
                .text-form {
                    textarea {
                        width: 343px;
                        height: 94px;
                    }
                }
            }
        }
    }