.footer-contact {
    background-color: rgb(169, 4, 127);
    margin-top: 54px;
    padding-top: 120px;
    .img-header {
        position: absolute;
        top: 2100px;
        z-index: -1;
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }
    .contact-end {
        display: flex;
        .contact-us {
            margin-right: 80px;
            width: 240px;
            span {
                line-height: 27.9px;
                @include content2($fs-11, $fw-3, $color6);
            }
            .content-list {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    color: $color6;
                    margin: 30px 0;
                    i {
                        margin: 0 15px 15px 0;
                    }
                }
            }
            .social {
                i {
                    margin-right: 15px;
                    color: $color6;
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover {
                        color: black;
                    }
                }
            }
        }
        .quick-link {
            width: 240px;
            span {
                line-height: 27.9px;
                @include content2($fs-11, $fw-3, $color6);
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 30px 0;
                li {
                    padding: 5px 5px 5px 0;
                    margin-bottom: 11px;
                    transition: all 0.5s;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    a {
                        text-decoration: none;
                        color: $color6;
                        font-size: $fs-6;
                        line-height: $fs-6;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .about {
            width: 240px;
            margin-left: 80px;
            span {
                line-height: 27.9px;
                @include content2($fs-11, $fw-3, $color6);
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 30px 0;
                li {
                    padding: 5px 5px 5px 0;
                    margin-bottom: 11px;
                    transition: all 0.5s;
                    border-bottom: 1px solid rgba(0, 0, 0, .1);
                    a {
                        text-decoration: none;
                        color: $color6;
                        font-size: $fs-6;
                        line-height: $fs-6;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
        .newsletter {
            margin-left: 80px;
            span {
                line-height: 27.9px;
                @include content2($fs-11, $fw-3, $color6);
            }
            div {
                margin: 45px 0;
                input {
                    width: 240px;
                    margin-bottom: 8px;
                    background-color: transparent;
                    border: 1px solid rgba(255, 255, 255, .1);
                    border-radius: 50px;
                    padding: 15px;
                    text-align: center;
                    color: $color6;
                }
                button {
                    width: 240px;
                    height: 48px;
                    border-radius: 50px;
                    letter-spacing: 1px;
                    line-height: 37.2px;
                    text-align: center;
                    background-color: $color6;
                    border: 1px solid $color6;
                    @include content2($fs-0, $fw-2, $color2);
                    text-transform: uppercase;
                    transition: all 0.5s;
                    &:hover {
                        background-color: transparent;
                        color: $color6;
                    }
                }
            }
        }
    }
}