    .contact-form {
        display: flex;
        .form-right {
            .form {
                width: 393px;
                height: 504px;
                .title {
                    line-height: 45px;
                    @include content2($fs-12, $fw-3, $color4);
                    margin-bottom: 50px;
                    text-align: center;
                }
                .row-form {
                    display: flex;
                    .name-form {
                        border-radius: 10px;
                    }
                }
                .text-form {
                    textarea {
                        width: 343px;
                        height: 94px;
                    }
                }
            }
        }
    }