.img-beginer {
    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.img-bottom {
    img {
        position: absolute;
        top: 1400px;
        z-index: -1;
    }
}