body {
    background: url("./../../img/yellow_top_wave_01.png");
    background-repeat: no-repeat;
    nav {
        z-index: 100000;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 40px 100px;
        ul {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            li {
                position: relative;
                list-style: none;
                a {
                    @include content2($fs-1,
                    $fw-2,
                    $color2);
                    position: relative;
                    margin: 0 15px;
                    text-decoration: none;
                    transition: all 0.5s;
                    &:hover {
                        text-decoration: none;
                        color: $color3;
                    }
                }
            }
        }
    }
}