body {
    background: url("./../../img/yellow_top_wave_01.png");
    background-repeat: no-repeat;
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
    }
}