.navbar-nav {
    height: 150px;
    width: 200px;
    background: url("https://xuanthulab.net/public/img/logo.png");
    no-repeat 50% 50%;
    background-color: orangered;
    background-size: cover;
    .nav-item {
        a {
            @include content2($fs-1,
            $fw-2,
            $color2);
            line-height: 80px;
            margin-right: 50px;
            color: $color2 !important;
            transition: all 0.5s;
            &:hover {
                color: $color3;
            }
        }
    }
}