.navbar-nav {
    .nav-item {
        i {
            margin-right: 12px;
            line-height: 80px;
            cursor: pointer;
            transition: all 0.5s;
            &:hover {
                color: $color3;
            }
        }
    }
}