.slidebar {
    ul {
        list-style: none;
        a {
            text-decoration: none;
            li {
                @include content2($fs-1, $fw-3, $color7);
                text-decoration: none;
                list-style: none;
            }
        }
    }
}